PORT="" # Your application port eg: 3000, 4000, or 8000 etc
MONGO_URI="" # MongoDB URI eg: mongodb://<YOURUSERNAME>:<YOURPASSWORD>@<HOSTNAME>:<PORT>/<DBNAME>?authSource=admin
CLIENT_URL="" # Frontend URL eg: http://localhost:3000, http://localhost:5173, or http://localhost:5174 etc
SERVER_URL=""

# Migration env
MIGRATE_MONGO_URI="mongodb://<YOURUSERNAME>:<YOURPASSWORD>@<HOSTNAME>:<PORT>/<DBNAME>?authSource=admin"
MIGRATE_MIGRATIONS_PATH="./migrations"
MIGRATE_AUTOSYNC="true"

# JWT Tokens
REFRESH_TOKEN_SECRET="" # Refresh token secret (long lived token)
REFRESH_TOKEN_EXPIRY="" # Refresh token expiry time eg: 2h, 1d or more than that
ACCESS_TOKEN_SECRET="" # Access token secret (short lived token)
ACCESS_TOKEN_EXPIRY="" # Access token expiry time eg: 1d, 15m, 2h etc

# Email variables
EMAIL_HOST="" # Host of your SMTP server eg: smtp.gmail.com, smtp.office365.com etc
EMAIL_PORT="" # Port of your SMTP server eg: 587, 465 etc
EMAIL_USER="" # Email address of your SMTP server eg: 6yq2M@example.com
EMAIL_PASS="" # Password of your SMTP server

# Google variables
GOOGLE_CLIENT_ID="" # Google client ID
GOOGLE_CLIENT_SECRET="" # Google client secret eg: GOCSPX-...
GOOGLE_CALLBACK_URL="" # Google callback URL eg: http://localhost:3000/auth/google/callback

# Cloudinary variables
CLOUDINARY_CLOUD_NAME="" # Cloudinary cloud name, you get this from cloudinary.com after creating your account
CLOUDINARY_API_KEY="" # Cloudinary API key, you get this from cloudinary.com after creating your account
CLOUDINARY_API_SECRET="" # Cloudinary API secret, you get this from cloudinary.com after creating your account

NODE_ENV=development    # development | production | test