# Dependencies
node_modules

# Build output
dist
coverage
.tsbuildinfo
test-results

# Kiro
.kiro

# Logs
logs
*.log

# Environment
.env*
!.env.sample

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Migrations
migrations

# Public
public

# Git
.git
.husky
